@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Variables CSS */
:root {
    --morado-claro: #B08EBC;
    --turquesa: #62B9C5;
    --azul-gris: #567185;
    --fondo-negro-transparente: rgba(0, 0, 0, 0.6);
    --fondo-gris: #00000045;
    --color-beige: beige;
    --color-blanco: #fff;
    --color-negro: #000;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('imagenes/fondo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    max-width: 120rem;
  
  
}

.contai {
    background-image: url("imagenes/listpng.png");
    max-width: 120rem;
    overflow: hidden;
}

p, h1, h2 {
    color: var(--color-beige);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/* MENU DE TINY TALES */
.navbar-custom {
    background: none;
  
    top: 0;
    width: 100%;
    z-index: 20;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: var(--color-blanco);
    
}
.navbar-brand img{
    height: 4.75rem;
    width: auto;
}

.navbar-custom .btn {
    background: linear-gradient(to top, #3e086e, #a64aed);
    color: var(--color-blanco);
    border-radius: 1.25rem;
}


.logo_nav img {
    height: 3.75rem;
    width: auto;
}
.nav-link {
    font-size: 1.3rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 1.25rem;
    
}

.menu nav ul {
    display: flex;
    padding: .625rem;
    list-style: none;
    align-items: center;
}

nav li {
    margin: .625rem;
}

.menu a {
    text-decoration: none;
    color: var(--color-beige);
}

.menu .button-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.25rem;
    background: linear-gradient(to top, #3e086e, #a64aed);
    color: var(--color-blanco);
    text-decoration: none;
    border-radius: 1.25rem;
}

/* SECTION N1 DE PAGINA PRINCIPAL (INDEX) */
.grid {
    display: grid;
    max-width: 120rem;
    height: 75rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 180px);
    gap: .625rem;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.grid img {
    position: relative;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.grid h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    z-index: 8;
}

.grid .item2 {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    z-index: 7;
    width: 74%;
    bottom: 70px;
    left: 80px;
}

.grid .item3 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    z-index: 6;
    width: 90%;
    bottom: 7.25rem;
    left: 6.25rem;
}

.grid h2 {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    text-align: center;
    justify-self: end;
    align-self: end;
    z-index: 5;
    margin: 0 6.25rem 5.625rem 6.25rem;
    font-size: 1.8em;
}

.grid .item5 {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    z-index: 4;
    top: 6.25rem;
}

.grid .item6 {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    z-index: 3;
}

.grid .item7 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
    top: -18.125rem;
    left: 21.875rem;
    z-index: 2;
    width: 95%;
}

/* SECTION N2 DE PAGINA PRINCIPAL (INDEX) */
.section_n2 {
    position: relative;
    z-index: 11;
    background: linear-gradient(to top, #051571, #000000);
    height: 37.25rem;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: -15rem;
    box-shadow: 0rem .625rem 1.25rem 0rem rgba(0, 0, 0, 0.9);
    padding: 0; /* Eliminando padding para evitar desbalance */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.section_n2 img {
    height: 28rem;
    width: auto;
    margin: .625rem 2.5rem .625rem 1.25rem;
}

.section_n2 p {
    font-size: 1.875em;
}

/* SECTION N3 DE PAGINA PRINCIPAL (INDEX) */
.section_n3 {
    position: relative;
    display: grid;
    background-color: rgb(23, 67, 100);
    height: 95rem;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 10;
    margin-top: 0rem;
    bottom: 6rem;
    gap: .625rem;
    overflow: hidden;
    padding: 0; /* Eliminando padding para evitar desbalance */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}


.section_n3 p{
    font-family: "Playwrite BE VLG", cursive;
    font-size: 1em;
}
.section_n3 button{
    font-family: "Playwrite BE VLG", cursive;
}
.section_n3 img {
    position: relative;
    height: auto;
    pointer-events: none;
    object-fit: cover;
    width: 100%; /* Asegurando que la imagen tome todo el ancho del contenedor */
}

.section_n3 .s3_1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: hidden; /* Para ocultar el contenido que se desborda */
}

.section_n3 .s3_2 {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    overflow: hidden; /* Para ocultar el contenido que se desborda */
}
.section_n3 .s3_1,
.section_n3 .s3_2 {
    overflow: hidden;
}

.section_n3 .s3_3 {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_n3 .s3_4{
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    top: 220px;
    left: -120px;
    text-transform: uppercase;

 /* Para ocultar el contenido que se desborda */

}
.section_n3 .s3_4 .styled-button {
    width: 390px;
    text-align: center;
    align-content: center;
}
.styled-button {
    padding: .625rem 3.125rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 38px;
    background-color: transparent; /* Agregado */
    font-family: "Roboto", sans-serif; /* Asegurando que use la fuente */
    font-size: 1.3em;
    width: 18.125rem; /* Ancho fijo */
    height: 3.75rem; /* Altura fija */
    top: -1.875rem;
}
  
.styled-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    border-radius: 2.125rem;
}

.styled-button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,#ff7300,#fffb00,#48ff00,
        #00ffd5,#002bff,#ff00c8,#ff0000
    );
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(.5rem);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 2.125rem;
    opacity: 0;
    font-family: "Playwrite BE VLG", cursive,ro;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.styled-button:hover::before {
    opacity: 1;
}

.styled-button:active::after {
    background: transparent;
}

.styled-button:active {
    color: #000;
    font-weight: bold;
}

/* Ajustes adicionales para manejar imágenes más grandes que el grid */
.section_n3 img {
    width: auto;
    height: 200%;
    object-fit: cover; /* Para asegurar que la imagen cubra el contenedor */
    object-position: center; /* Centra la imagen dentro del contenedor */
}


@media screen and (max-width: 2400px){
    .menu nav ul li {
        font-size: 1.3em;
        }
}

/* Media Queries */
@media screen and (max-width: 1440px) {
    body {
        max-width: 90rem;
    }
    .menu {
        padding: .325rem 1.0rem;
    }
    .grid .item7 {
        top: -5rem;
        left: 18.75rem;
        top: -12.5rem;
    }
    .grid h2 {
        font-size: 1.7em;
    }

    .section_n2 p {
        font-size: 1.8em;
        margin: 0rem 1.25rem 0rem 1.25rem ;
    }
    .section_n3 .s3_3 button {
       left: 50px;
    }
    .menu nav ul li {
        font-size: 1em;
        }
}

@media screen and (max-width: 1024px) {
    body {
        max-width: 64rem;
    }
    .menu {
        padding: .325rem 1.0rem;
    }
    .grid .item7 {
        top: -5rem;
        left: 10rem;
    }
    .grid .item2 {
        top: -15px;
    }
    .grid .item3 {
        top: -0.9375rem;
        width: 100%;
    }
    .grid h2 {
        font-size: 1.2em;
        margin: 0px 0 70px 0;
    }
    .section_n3 .s3_3 button {
        left: 4.375rem;
        top: -7.8125rem;
    }  
    .section_n3 img {        
        height: 170%;
        right: 3.125rem;
    }
    .section_n3 .s3_4 .styled-button {
        left: -3.4375rem;
        top: -3.125rem;
        
    }
}

@media screen and (max-width: 768px) {
    body {
        max-width: 48rem;
    }
    .section_n2{
    flex-direction: column;
    height: 50rem;
}
.section_n2 img{
width: 70%;
height: auto;
margin: 10px;
}

    .grid {
        height: 55rem;
    }
    .grid .item7 {
        top: -3.4375rem;
        left: 7.5rem;
    }
    .grid .item2 {
        top: -0.9375rem;
    }
    .grid .item3 {
        top: -0.9375rem;
        width: 100%;
    }
    .grid h2 {
        font-size: 1.1em;
        margin: .625rem 1.875rem 12.5rem .625rem; }

        .section_n2 p {
            font-size: 1.375em;
            margin: 1.25rem;
        }

        .section_n3 img {        
            height: 140%;
            right: 3.125rem;
        }
        .section_n3 .s3_4 {
            padding: .625rem .375rem;
            top: 10.625rem;
            font-size: 0.9rem;
        }
        .section_n3 .s3_3 button {
            position: absolute; 
            top: 62.5rem;
            left: 24.375rem;   
        }
    }




/* Media Query para teléfonos grandes */
@media screen and (max-width: 480px) {
    body {
        max-width: 30rem;
    }
    .section_n2{
    flex-direction: column;
    height: 40rem;
}
.section_n2 img{
width: 70%;
height: auto;
margin: .625rem;
}
    .grid h1 {
        font-size: 1.975em;
    }
    .grid {
        height: 55rem;
    }
    .grid .item7 {
        top: -3.4375rem;
        left: .625rem;
        width: 130%;
    }
    .grid .item2 {
        top: -2.1875rem;
        left: -5.625rem;
        width: 100%;
    }
    .grid .item3 {
        top: -3.125rem;
        left: -5.625rem;
        width: 140%;
    }
    .grid h2 {
        grid-column: 2 / 4;
        grid-row: 2 / 5;
        font-size: 1em;
        margin: .625rem 1.875rem 12.5rem .625rem; 
    }
        .section_n2 p {
            font-size: 1.375em;
            margin: 1.25rem;
        }

        .grid .item5 {
            grid-column: 1 / 3;
            grid-row: 2 / 5;
            z-index: 3;
            top: 6.25rem;
        }
        
        .grid .item6 {
            grid-column: 1 / 5;
            grid-row: 2 / 5;
            z-index: 4;
        }
        .section_n3 img {        
            height: 104%;
            right: 3.75rem;
        }
        .section_n3 .s3_4{
            top: 9.375rem;
        }

        .section_n3 {
            height: 65rem;
        }
        .styled-button {
            padding: .625rem .625rem .625rem .625rem;
            width: .625rem; /* Ancho fijo */
            height: 3.75rem; /* Altura fija */
            top: -1.875rem;
        }
        .section_n3 .s3_4 .styled-button {
            padding: .625rem 1.25rem;
            width: 8.125rem;
            height: 1.875rem;
            font-size: 0.5em;
            left: 3.125rem;
            top: -3.75rem;
        }
        .section_n3 .s3_3 .styled-button {
            padding: .625rem 1.25rem;
            width: 8.125rem;
            height: 1.875rem;
            font-size: 0.5em;
            left: 13.4375rem;
            top: 41.875rem;
        }
        .section_n3 .s3_2{
            left: -1.75rem;
        }
        .nav-link {
            font-size: 0.9rem;
        }
    }


/* Media Query para teléfonos pequeños */
@media screen and (max-width: 395px) {

    body {
        max-width: 24.6875rem;
    }
    .section_n2 {
        padding: 0.25rem;
        top: -60px;
    }

    .section_n2 p {
        font-size: 1em; 
        height: 12rem; 
    }
    .grid .item2 {
        left:.3125rem;
    }
    .grid .item3 {
        top: -3.75rem;
        left: -4.0625rem;
        width: 140%;
    }
    .grid .item7 {
        top: -0.9375rem;
        left: 1.25rem;
        width: 130%;
    }
    .section_n3 img {        
        height: 82%;
    }
    .section_n3 .s3_4 .styled-button {
    padding: .1875rem .625rem;
    left: 3.4375rem;
    top: -5.625rem;
    font-size: 0.4em;
    
    }
    .section_n3 .s3_3 .styled-button {
    padding: .1875rem .625rem;
    left: 9.375rem;
    top: 38.75rem;
    font-size: 0.4em;
    }
    .section_n3 .s3_2 .styled-button{
        width: 12.5rem;
        left: -1.25rem;
    }
    
    .menu nav ul li {
    font-size: 0.6em;
    width: 3.4375rem;
    height: auto;
    margin: 0 -0.125rem 0 .125rem; 
    }
}
/* SECTION PIE DE PAGINA (TODAS LAS PAGINAS )*/  


footer {
    width: 100%;
    background-color: #1e57bb;
    background: linear-gradient(to right, #00093c, #2d0b00);
    padding: 1.25rem 0;
    color: white;
    margin-top: auto;
    bottom: 0;
    line-height: 1.25rem;
}
.footer-button {
    display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
    background: linear-gradient(to right, #387da7 , #854bd7);
    color: #fff;
    text-decoration: none;
    margin-top: 0.625rem;
    width: 10.5rem;
    border-radius: 2rem;
}
.foot {
width: 85%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-between;
align-items: center;
z-index: 30;
}
.foot .colo{
    flex-basis: 25%;
    padding: 0,625rem;
    

}

.foot .colo:nth-child(2), .colo:nth-child(3){
    flex-basis: 15%;
    

}
hr{
    width: 90%;
    border: 0;
    border-bottom: .0625rem solid #ccc; 
    margin: 1.25rem auto;
}
.underline{
    width: 100%;
    height: .3125rem;
    background-color: #767676;
    border-radius: .1875rem;
}
.copyright{
    text-align: center;
    color: #ccc;
}
footer .foot .footer-button  {
display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
    background: linear-gradient(to right, #387da7 , #854bd7);
    color: #fff;
    text-decoration: none;
    margin-top: 0.625rem;
    width: 12.5rem;
    border-radius: 2rem;
    
}
.foot .footer-list{
    list-style: none;
    
}.foot .footer-list a{
    text-decoration: none;
    font-size: 1.2em;
    
}
footer .foot .footer-button .icon{
margin-left: 3rem;
}
.foot .social-icons{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.icon img{
    width: 2.0625rem;
    height: auto;
    margin-left: .625rem; 
}
.social-icons a img {
    width: 2.0625rem;
    height: auto; 
}






/* PAGINA NUMERO 2 DEL PROYECTO  what_we_offert*/
.card{
    width: 35rem;
}
.card {
    background-color: #1b4976; 
    border: 1px solid #313334;
}

.card .card-title {
    color: #b586ca;
    font-size: 1.3rem; 
}

.card .card-text {
    color: #bec2c5;
    font-size: 1rem;
}

.card {
    border-top-left-radius: 75px; 
    border-top-right-radius: 75px;
}

.text{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: .9375rem;
}

.card {
    border: none; 
    border-radius: 1rem; 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
}

.card-img-top {
    height: 340px; 
    object-fit: cover; 
}

.card-footer {
    background-color: transparent; 
    border-top: none; 
    text-align: center; 
}

.card-footer .btn {
    background: var(--turquesa);
    border: none; 
    color: var(--color-blanco); 
    transition: background 0.3s; 
}

.card-footer .btn:hover {
    background: darken(var(--turquesa), 10%); 
}


@media (max-width: 768px) {
    .card-img-top {
        height: 320px; 
    }

    .card-title {
        font-size: 1.2rem; 
    }
}


/* PAGINA NUMERO 4 DEL PROYECTO(how read heal)*/
.How_Read_Heal_1{
background-color: #567185;
max-width: 100rem;
height: 25.25rem;
padding: 6.25rem 0rem 6.25rem 0rem ;
display: flex;
align-items: center;
}

.How_Read_Heal_1 img{
height: 28.75rem;
margin-right: 1rem;
margin-left: 1rem;
}
.How_Read_Heal_1{
    background-color: #567185;
    max-width: 100rem;
    height: 25.25rem;
    padding: 6.25rem 0rem 6.25rem 0rem ;
    display: flex;
    align-items: center;
    font-size: 2rem;
    }

    .How_Read_Heal_1 p{ 
        margin-right: 2rem;
        margin-left: 2rem;
        }


/* PAGINA NUMERO 3 DEL PROYECTO(get started)*/
:root {
    --color-beige: beige;
    --color-blanco: #fff;
    --color-negro: #000;
}


header .button-main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background: linear-gradient(to top, #3e086e, #a64aed);
    color: var(--color-blanco);
    text-decoration: none;
    border-radius: 1.25rem;
}
footer {
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    padding: 1.25rem 0;
    color: white;
    margin-top: auto;
    line-height: 1.25rem;
    position: relative; /* Asegura que el footer esté sobre el fondo */
    z-index: 30; /* Asegura que el footer esté por encima del fondo */
}

.footer-button {
    display: flex;
    align-items: center;
    padding: .625rem 1.25rem;
    background: linear-gradient(to right, #387da7, #854bd7);
    color: #fff;
    text-decoration: none;
    margin-top: 0.625rem;
    width: 10.5rem;
    border-radius: 2rem;
}

.foot1 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.foot1 .colo {
    flex-basis: 25%;
    padding: 0.625rem;
}

.foot1 .colo:nth-child(2),
.foot1 .colo:nth-child(3) {
    flex-basis: 15%;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: .0625rem solid #ccc; 
    margin: 1.25rem auto;
}

.underline {
    width: 100%;
    height: .3125rem;
    background-color: #767676;
    border-radius: .1875rem;
}

.copyright {
    text-align: center;
    color: #ccc;
}

footer .foot1 .footer-button .icon {
    margin-left: 3rem;
}

.foot1 .social-icons {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.icon img {
    width: 2.0625rem;
    height: auto;
    margin-left: .625rem; 
}

.social-icons a img {
    width: 2.0625rem;
    height: auto; 
}



.btn-custom {
    background-color: #000;
    color: #fff;
    border-radius: 2rem;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

.btn-custom:hover {
    background-color: #333;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .btn-custom {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        max-width: 30%;
        max-height: fit-content;
    }
}

@media (max-width: 576px) {
    .btn-custom {
        font-size: 0.75rem;
        padding: 0.375rem 0.75rem;
    }
}

.h1_app {
    font-size: 1.5rem;
    font-weight: bold;
}

.robot-image {
    max-width: 100%;
    max-height: 112.5rem;
    position: relative;
    z-index: 25; /* Asegura que la imagen del robot esté por debajo de los botones */
    left: 50%;
    transform: translateX(-50%);
    top: -11.875rem;
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */
}

.row-image {
    max-width: 100%;
    max-height: 112.5rem;
    position: absolute;
    z-index: 24; /* Asegura que la imagen de fondo esté por debajo de la imagen del robot y los botones */
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */
}

.button-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    z-index: 30; /* Asegura que los botones estén por encima de las imágenes */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.app {
    max-width: 3.4375rem;
}

.app1 {
    max-width: 2.6875rem;
    max-height: 2.6875rem;
    margin: .625rem;
}


/* PAGINA numero 5(formulario)*/